body {
	font-family: sans-serif;
}
h1 {
	text-align: center;
}
.container {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	gap: 10px;
	justify-content: center;
}
.card {
	width: 200px;
	height: 300px;
	border-radius: 20px;
}
